<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.car.business.mapper.CarPackageAuditMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.car.business.domain.CarPackageAudit" >
    <id column="id" property="id" />
    <result column="service_item_id" property="serviceItemId" />
    <result column="service_item_name" property="serviceItemName" />
    <result column="service_item_info" property="serviceItemInfo" />
    <result column="service_item_price" property="serviceItemPrice" />
    <result column="instance_id" property="instanceId" />
    <result column="creator" property="creator" />
    <result column="auditor_id" property="auditorId" />
    <result column="bpmnInfo_id" property="bpmninfoId" />
    <result column="info" property="info" />
    <result column="status" property="status" />
    <result column="audit_time" property="auditTime" />
    <result column="create_time" property="createTime" />
    <result column="audit_user_ids" property="auditUserIds" />
  </resultMap>
  <delete id="deleteByPrimaryKey" >
    delete from bus_car_package_audit
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into bus_car_package_audit (service_item_id, service_item_name, service_item_info, service_item_price, 
      instance_id, creator, auditor_id, bpmnInfo_id, info, status, audit_time, 
      create_time, audit_user_ids)
    values (#{serviceItemId}, #{serviceItemName}, #{serviceItemInfo}, #{serviceItemPrice}, 
      #{instanceId}, #{creator}, #{auditorId}, #{bpmninfoId}, #{info}, #{status}, #{auditTime}, 
      #{createTime}, #{auditUserIds})
  </insert>
  <update id="updateByPrimaryKey" >
    update bus_car_package_audit
    set service_item_id = #{serviceItemId},
      service_item_name = #{serviceItemName},
      service_item_info = #{serviceItemInfo},
      service_item_price = #{serviceItemPrice},
      instance_id = #{instanceId},
      creator = #{creator},
      auditor_id = #{auditorId},
      bpmnInfo_id = #{bpmninfoId},
      info = #{info},
      status = #{status},
      audit_time = #{auditTime},
      create_time = #{createTime},
      audit_user_ids = #{auditUserIds}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select id, service_item_id, service_item_name, service_item_info, service_item_price, 
    instance_id, creator, auditor_id, bpmnInfo_id, info, status, audit_time, create_time, 
    audit_user_ids
    from bus_car_package_audit
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, service_item_id, service_item_name, service_item_info, service_item_price, 
    instance_id, creator, auditor_id, bpmnInfo_id, info, status, audit_time, create_time, 
    audit_user_ids
    from bus_car_package_audit
  </select>
</mapper>