<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="common/include :: header('客户列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								名称：<input type="text" name="name"/>
							</li>
							<li>
								是否套餐：
								<select name="carPackage" th:with="type=${@dict.getType('si_car_package')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
								</select>
							</li>
							<li>
								服务分类：
								<select name="serviceCatalog" th:with="type=${@dict.getType('si_service_catalog')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
								</select>
							</li>
							<li>
								审核状态：
								<select name="auditStatus" th:with="type=${@dict.getType('si_audit_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
								</select>
							<li>
								上架状态：
								<select name="saleStatus" th:with="type=${@dict.getType('si_sale_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
								</select>
							</li>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			<div class="btn-group-sm" id="toolbar" role="group">
	        </div>
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:post:add">
				<i class="fa fa-plus"></i> 新增
			</a>
			<a class="btn btn-warning">
				<i class="fa fa-facebook"></i> 发起审核
			</a>
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="common/include :: footer" />
	<script th:inline="javascript">
		var prefix = ctx + "/business/serviceItem";
		var carPackageDatas = [[${@dict.getType('si_car_package')}]];
		var serviceCatalogDatas = [[${@dict.getType('si_service_catalog')}]];
		var auditStatusDatas = [[${@dict.getType('si_audit_status')}]];
		var saleStatusDatas = [[${@dict.getType('si_sale_status')}]];
		$(function() {
		    var options = {
		        url: prefix + "/query", // 查询得数据得地址
		        createUrl: prefix + "/addPage", // 新增页面的地址
		        updateUrl: prefix + "/editPage?id={id}", // 编辑页面的地址
		        removeUrl: prefix + "/remove", // 删除地址
		        modalName: "养修服务单项", // 模态框得名称
		        columns: [{
						checkbox: true
					},
		        {
		            field: 'id',
		            title: '养修服务单项客户id',
					visible: false
		        },
		        {
		            field: 'name',
		            title: '服务名称'
		        },

		        {
					field: 'originalPrice',
					title: '服务原价'
		        },
				{
					field: 'discountPrice',
					title: '折扣价'
				},
				{
					field: 'carPackage',
					title: '是否套餐',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(carPackageDatas, value);
					}
				},
				{
					field: 'serviceCatalog',
					title: '服务分类',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(serviceCatalogDatas, value);
					}
				},
				{
					field: 'auditStatus',
					title: '审核状态',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(auditStatusDatas, value);
					}
				},
				{
					field: 'info',
					title: '备注',
					formatter: function(value, row, index) {
						return $.table.tooltip(value, 10, "open");
					}
				},
				{
					field: 'saleStatus',
					title: '上架状态',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(saleStatusDatas, value);
					}
				},
					{
						title: '操作',
						align: 'center',
						formatter: function(value, row, index) {
							var actions = [];
							var editBtnFlag = "";
							var saleOffBtnFlag = "";
							var saleOnBtnFlag = "";
							if(row.saleStatus==1 ){
								//如果上架状态不能修改
								editBtnFlag += " disabled";
							}else if(row.auditStatus==1){
								//如果处于审核中的话，是不能修改
								editBtnFlag += " disabled";
							}
							actions.push('<a class="btn btn-success btn-xs ' + editBtnFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')">' +
									'<i class="fa fa-edit"></i>编辑</a> ');
							// 判断上架状态
							if(row.saleStatus){
								// 目前处于上架状态
								actions.push('<a class="btn btn-danger btn-xs '+saleOffBtnFlag+'" href="javascript:void(0)" onclick="saleOff(\'' + row.id + '\')"><i class="fa fa-remove"></i>下架</a>');
							}else{
								// 目前处于下架状态
								var saleOffFlag = "";
								if(row.carPackage && row.auditStatus!=2){
									// 套餐且处于非审核通过变灰
									saleOnBtnFlag += " disabled";
								}
								actions.push('<a class="btn btn-info btn-xs '+saleOnBtnFlag+'" href="javascript:void(0)" onclick="saleOn(\'' + row.id + '\')"><i class="fa fa-check"></i>上架</a>');
							}
							return actions.join('');
						}
					}]
			};
			$.table.init(options);
			$("#bootstrap-table").on("check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table load-success.bs.table", function () {
				//下架才能进行修改
				var rows = $.table.selectColumns("carPackage");
				if(rows.length==1 && rows[0]==1){
					//是套餐且状态为初始化或者拒绝
					var auditStatus = $.table.selectColumns("auditStatus")[0];
					console.log(auditStatus==0);
					if(auditStatus==0 || auditStatus==3){
						$(".auditBtn").removeClass("disabled");
						return;
					}
				}
				$(".auditBtn").addClass("disabled");
			});
		});
		function saleOff(id){
			$.modal.confirm("确认需要下架此服务项吗?", function() {
				$.operate.get(prefix + "/saleOff?id=" + id)
			});
		}
		function saleOn(id){
			$.modal.confirm("确认需要上架此服务项吗?", function() {
				$.operate.get(prefix + "/saleOn?id=" + id)
			});
		}
		function startAudit(){
			var rows = $.table.selectColumns("id");
			$.modal.open("发起审核", prefix + "/auditPage?id="+rows[0]);
		}
	</script>
</body>
</html>